.about-me {
  position: relative;
  min-height: 100vh;
  padding-top: 150px;
  %__nav-wrapper {
    display: flex;
    max-width: 1100px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__main-wrapper {
    display: flex;
    height: 100%;
  }

  &__photo {
    width: 340px;
    height: 450px;
    margin-right: 20px;

    @media (max-width: 750px) {
      margin-right: 0;
    }
    @media (max-width: 370px) {
      width: 300px;
      height: 400px;
    }
  }

  &__main {
    background-color: white;
    min-height: 100%;
    width: 100%;
    padding: 0 40px 0 40px;
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: 750px) {
      flex-direction: column;
    }
  }

  &__descr {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160.033%;

    h1,
    h2,
    div {
      color: #080303;
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160.033%;
      margin-top: 5px;
      @media (max-width: 950px) {
        font-size: 16px;
      }
    }
  }
}
