.about-me {
    position: relative;
    // min-height: 100vh;
    %__nav-wrapper {
        display: flex;
        max-width: 1100px;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__main-wrapper {
        display: flex;
        height: 100%;
    }
    &__main {
        background: url('../../../public/about-me-main-photo.png') center center/cover no-repeat;
        min-height: 100vh;
        width: 50%;
        padding: 0 70px 0 70px;
        position: relative;
    
    }

    &__descr {
        position: absolute;
        padding-right: 70px;
        top: 50%;
        transform: translateY(-50%);
        left: 70px;
        color: #FFF;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160.033%;

        h1, h2, div {
            color: #FFF;
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160.033%;
            margin-top: 5px;
        }
    }

    &__main-photo {
        display: block;
        position: relative;
        min-height: 100vh;
        width: 50%;


        &-center {
            position: absolute;
            width: 50%;
            height: 50%;
            top: 50%;
            left: 150px;
            transform: translateY(-50%);
            z-index: -1;
        }

        &-top-left {
            position: absolute;
            width: 20%;
            height: 25%;
            left: 55px;
            top: 130px;
        }

        &-top-right {
            width: 30%;
            height: 30%;
            position: absolute;
            top: 120px;
            right: 13%;
        }

        &-bottom-left {
            width: 25%;
            height: 30%;
            position: absolute;
            left: 34px;
            bottom: 85px;
        }

        &-bottom-right {
            width: 20%;
            height: 23%;
            position: absolute;
            bottom: 70px;
            right: 20%;
        }
    }

}