.portfolio {
    &__main-wrapper {
        max-width: 1100px;
        margin: 0 auto;
        margin-top: 260px;
        margin-bottom: 50px;
        
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 10px;
        
    }
}